################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/examples/01_overtemperature_psoc6/.mtbLaunchConfigs
